<ul class="lang-tabs">
  <% Freeberry::SystemSettings.keys.each_with_index do |section, i|  %>
    <%= content_tag(:li, :class => (i == 0 ? "active" : "not-active")) do %>
      <span><%= link_to_function t("manage.settings.#{section}"), 'TabPanel.click(event)', :class=>"tab", :id=>"s#{section}" %></span>
    <% end %>
  <% end %>
</ul>

<% Freeberry::SystemSettings.keys.each_with_index do |section, i|  %>
  <%= content_tag(:div, :class => "add-white-bl", :id => "s#{section}_block", :style => (i == 0 ? nil: "display:none;")) do %>
	  <div class="bot-bg">
    	<div class="inputs-bl">
    	  <%= form.fields_for section do |s| %>
    	    <% Freeberry::SystemSettings[section].each do |attribute, value| %>
      	    <%= s.label attribute %>
      	    <%= s.text_field attribute, :class=>"text", :value => value %>
    	    <% end %>
    	  <% end %>
      </div>
    </div>
  <% end %>
<% end %>
