<div class="edit-bl">
  <div class="bot-bg">
    <div class="block-title"><%= t('manage.edit') %>:</div>
    <%= form_for @post, :as => :post, :url => manage_structure_post_path(@structure.id, @post.id), :html=>{:multipart=>true, :method=>:put, :id=>'post_form'} do |f| -%>
      <%= render :partial=>"manage/posts/form", :object=>f %>
      
      <div style="padding: 20px 0px 10px 20px;" class="buts">
        <%= link_to_function content_tag(:span, t('manage.update')), "$('#post_form').submit()", :class=>"gr" %>
        <%= link_to t('manage.cancel'), manage_structure_posts_path(@structure.id), :class=>"erase" %>
        <%= f.submit t('manage.update'), :style=>"display:none;" %>
      </div>
    <% end %>
  </div>
</div>
