<div class="edit-bl">
  <div class="bot-bg">
    <div class="block-title"><%= t('manage.edit') %> <%= @structure.title.inspect %></div>
    <%= form_for @page, :as => :page, :url => manage_structure_page_path(:structure_id=>@structure.id), :html=>{:method=>:post, :id=>'page_form'} do |f| -%>
      <%= render :partial=>"manage/pages/form", :object=>f %>
      
      <div style="padding: 20px 0px 10px 20px;" class="buts">
        <%= link_to_function content_tag(:span, t('manage.create')), "$('#page_form').submit()", :class=>"gr" %>
        <%= link_to t('manage.cancel'), manage_structures_path, :class=>"erase" %>
        <%= f.submit t('manage.create'), :style=>"display:none;" %>
      </div>
    <% end %>
  </div>
</div>
