<div class="head">
  <%= link_to image_tag("manage/minimise_but.gif", :alt=>t('manage.go_site'), :title=>t('manage.go_site')), root_path, :class=>"minimaze" %>
	<div class="logo"><%=raw t('manage.title') %></div>
	
  <div class="main-menu">
    <ul>
      <% Sunrise::Plugins.active.menu('main').each do |plugin| %>
        <% if can? :read, plugin.klass, :context => :manage %>
          <li><%= link_to_unless_current_span2 plugin.title, [:manage, plugin.name] %></li>
        <% end %>
      <% end %>
      
      <% unless Sunrise::Plugins.active.menu('select').empty? %>
        <li><%= link_to_function t('manage.plugins.other'), "SelectList.toggle(event)", :class=>"arr", :id=>"menu_select" %></li>
      <% end %>
    </ul>
  </div>
    
  <div class="user">
    <div class="user-info">
      <div class="info">
        <%= link_to current_user.name, edit_manage_user_path(current_user), :class=>"name" %>
        <%= link_to t('manage.exit'), destroy_user_session_path, :class=>"exit", :method => :delete %>
      </div>
    </div>
    
    <div class="user-foto">
      <%= link_to manage_user_avatar_tag(current_user, :type=>:small), edit_manage_user_path(current_user) %>
    </div>
  </div>
</div>

<% unless Sunrise::Plugins.active.menu('select').empty? %>
  <div id='menu_select_list' class="select-list" style='display:none;'>
    <% Sunrise::Plugins.active.menu('select').each do |plugin| %>
      <% if can? :read, plugin.klass, :context => :manage %>
        <%= link_to plugin.title, [:manage, plugin.name] %>
      <% end %>
    <% end %>
  </div>
<% end %>
