<% content_for(:head, attach_include_files) %>

<div class="edit-cont">
  <div class="inputs-bl">
    <%= form.label :name %>
    <%= form.text_field :name, :class=>"text name" %>

    <%= form.label :email %>
    <%= form.text_field :email, :class=>'text' %>

    <%= form.label :password %>
    <%= form.password_field :password, :class=>'text' %>

    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, :class=>'text' %>
        
    <div class="radio-bl">
      <div class="block-title"><%= t('manage.user.roles') %></div>
      <%= form.fields_for :roles_attributes do |r| %>
        <% RoleType.all.each do |item| %>
          <div class="radio-line"><%= r.check_box item.id, :checked => @user.has_role?(item.code) %> <%= r.label item.id, item.title %></div>
        <% end %>
      <% end %>      
    </div>
  </div>

  <%= form.attach_file(:avatar, :file_max_size => 1) %>
</div>
