<div class="edit-bl">
  <div class="bot-bg">
    <div class="block-title"><%= t('manage.edit') %>:</div>
    <%= form_for @user, :as => :user, :url => manage_user_path(@user.id), :html=>{:multipart=>true, :method=>:put, :id=>'users_form'} do |f| -%>
      <%= render :partial=>"manage/users/form", :object=>f %>
      
      <div style="padding: 20px 0px 10px 20px;" class="buts">
        <%= link_to_function content_tag(:span, t('manage.update')), "$('#users_form').submit()", :class=>"gr" %>
        <%= link_to t('manage.cancel'), manage_users_path, :class=>"erase" %>
        <%= f.submit t('manage.update'), :style=>"display:none;" %>
      </div>
    <% end %>
  </div>
</div>
