<div class="duo-bl">
  <div class="left-part">
    <div class="content">
    	<div class="row-container">
        <div class="white-row">
          <div class="r-corn">
            <%= link_to t('manage.menu.users'), manage_users_path, :class=>"dark-text" %>
            <div class="act-bl">
              <% if can? :create, User, :context => :manage %>
                <%= link_to t('manage.add'), new_manage_user_path, :class=>"create" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
      <div id="users" class="stage">
        <%= render :partial=>"manage/users/user", :collection => @users %>
        <%= paginate @users %>
      </div>
      
      <script type='text/javascript'>
        $(document).ready(function(){
          Manage.init_collection('users', 'dinamic-bl');
        });
      </script>
      
    </div>
  </div>
  
  <div class="right-part">
    <div class="filter-right">
      <%= render :partial=>"manage/users/model_filter" %>
    </div>
  </div>
</div>  
