<div class="edit-cont">   
  <div class="inputs-bl">
    <%= form.label "title" %>
    <%= form.text_field "title", :class=>"text name" %>
    
    <%= form.label "redirect_url" %>
    <%= form.text_field "redirect_url", :class=>"text" %>
  </div>
    
  <div class="edit-white-bl margin-top">
    <div class="bot-bg">
      <div class="wh-title"><%= t('manage.keywords') %></div>
      <div class="elem-bl">
        <%= form.fields_for :header, @structure.header || Header.new do |h| %>
          <%= h.label "title" %><br/>
          <%= h.text_field "title", :class=>"text" %><br/>

          <%= h.label "keywords" %><br/>
          <%= h.text_field "keywords", :class=>"text" %><br/>

          <%= h.label "description" %><br/>
          <%= h.text_area "description", :cols=>70, :rows=>5 %><br/>
        <% end %>
      </div>
    </div>
  </div>

  <div class="inputs-bl">    
    <% if @structure.moveable? %>
      <%= form.label :parent_id %>
      <%= form.select :parent_id, nested_set_options(Structure) {|i| "#{'–' * i.depth} #{i.title}"}, {:include_blank=>false}, {:style=>"width:300px;"} %>
    <% end %>
    
    <%= form.label :kind %>
    <%= form.collection_select :kind, StructureType.all, :id, :title, {:include_blank => false}, {:style=>"width:300px;"} %>
    
    <%= form.label :position %>
    <%= form.collection_select :position, PositionType.all, :id, :title, {:include_blank => false}, {:style=>"width:300px;"} %>
    
    <div class="radio-bl">
      <div class="radio-line"><%= form.check_box :is_visible %>  <%= form.label :is_visible %></div>
    </div>
  </div>
</div>
