<div class="edit-bl">
  <div class="bot-bg">
    <div class="block-title"><%= t('manage.edit') %>:</div>
    <%= form_for @structure, :as => :structure, :url => manage_structure_path(@structure.id), :html=>{:multipart=>true, :method=>:put, :id=>'structure_form'} do |f| -%>
      <%= render :partial=>"manage/structures/form", :object=>f %>
      
      <div style="padding: 20px 0px 10px 20px;" class="buts">
        <%= link_to_function content_tag(:span, t('manage.update')), "$('#structure_form').submit()", :class=>"gr" %>
        <%= link_to t('manage.cancel'), manage_structures_path, :class=>"erase" %>
        <%= f.submit t('manage.update'), :style=>"display:none;" %>
      </div>
    <% end %>
  </div>
</div>
